@charset "UTF-8";

/* 共通部分
------------------------------- */
html {
    font-size: 100%;
}
body{
    background-image: url(../images/20250715_1343.png);
    background-size: contain;
    background-repeat: repeat;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    color: #262626;
    margin: 0;
    background-color: #E0D9CC;
    letter-spacing: 0.1vw;

    opacity: 0;
     animation: fadeInBody 2s ease 0.3s forwards;
}

@keyframes fadeInBody {
  to {
    opacity: 1;
  }
}

a {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #262626;
}

a:hover {
  opacity: 0.8; /* 好みに応じて調整（0〜1） */
}

img {
    object-fit: fill;
    object-position: center center;
    width: 100%;
}

.logo{
    object-fit: contain;
}

p{
    font-size: 1.2vw;
    font-weight: 400;
    
}
.midasi_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3vw;
}

.midasi {
    font-family: "Hina Mincho", serif;
    font-weight: 300;
    font-size: 2.8vw;
    text-align: center;
}

.roma {
    font-family: "Geologica", sans-serif;
    font-size: 1.5vw;
    color: #00000030;
    letter-spacing: 0vw;
    font-weight: 400;
}

.title_box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.title {
    font-family: "Hina Mincho", serif;
    font-weight: 400;
    font-size: 85px;
}

.text{
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    color: #262626;
    font-size: 1.2vw;
    line-height: 1.65;
}

a {
    text-decoration-color: none;  /*リンクの色を消す*/
  }

  html,body {
    overflow-x: hidden;
  }

/*追従*/

.form{
    position: fixed;
    z-index: 99999;
    bottom: 50px;
    right: 50px;
    width: 350px;
}

.pc {
    display: block;
}

.sp {
    display: none !important;
}

/*画像の下の隙間を消すコード*/


div{
	text-align:center;
}
img{
	vertical-align:top;
}


/* アニメーション----------------------------------------------------------------------------------- */


/* 初期状態：非表示＆下に少しずらす */
.animate-up {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* 表示時の状態 */
.animate-up.active {
  opacity: 1;
  transform: translateY(0);
}

/* ボタン系----------------------------------------------------------------------------------- */

.w_more {
    display: flex;
    align-items: center;
    gap: 1vw;
    border-bottom: solid #ffff 0.15vw;
    width: fit-content;
    padding-bottom: 0.5vw;
}

.w_more p {
    color: #ffff;
}

.yazirusi {
    width: 1vw;
    height: auto;
}

.b_more {
    display: flex;
    align-items: center;
    gap: 1vw;
    border-bottom: solid #262626 0.15vw;
    width: fit-content;
    padding-bottom: 0.5vw;
}

.b_more p {
    color: #262626;
    font-weight: 500;
}


/* TOP----------------------------------------------------------------------------------- */

/* ヘッダー＋画像全体で画面いっぱい */
.first-view-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* ヘッダーの高さを固定 */
.header {
  height: 10vw; /* 必要に応じて変更 */
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5vw;
  position: relative;

  transition: all 0.3s ease;
  width: 100%;
  z-index: 100;
}

.header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* 見やすくする影 */
}

.header .logo {
    width: 12vw;
}

.header a {
    font-weight: 500;
    font-size: 1.2vw;
}

.header .menu_box {
    display: flex;
    gap: 3vw;
}


/* 画像を残りの高さでぴったり表示 */
.main-visual {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.main-visual .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1.5s ease;
  z-index: 0;
}

.main-visual .slide.active {
  opacity: 1;
  z-index: 1;
}

.main-visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.icon_box {
    display: flex;
    gap: 1.2vw;
    position: absolute;
    bottom: 2vw;
    right: 3vw;
}

.icon_box a img {
    width: 1.8vw !important;
}


/* 検索 */
.search-box {
  display: none;
  position: absolute;
  top: -5vw; /* ヘッダー下に表示されるように調整 */
  right: 5vw;
  background: #fff;
  padding: 0.5vw;
  box-shadow: 0 0 1vw rgba(0,0,0,0.2);
  z-index: 1000;
}

.search-box form {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.search-box input {
  padding: 0.5vw;
  font-size: 1.2vw;
  border: 0.1vw solid #ccc;
  width: 15vw;
}

.search-box button {
  background: transparent;
  border: none;
  font-size: 1.5vw;
  cursor: pointer;
}

.search-box .close-btn {
  font-size: 1.5vw;
  cursor: pointer;
  margin-left: 1vw;
}



/* area1----------------------------------------------------------------------------------- */

.area1 {
    background-image: url(../images/20250724_1150.png);
    background-size: cover;
    background-position: center;
    padding: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.area1 .midasi {
    color: #ffff;
    margin-bottom: 2vw;
}

.area1 .text {
    text-align: center;
    color: #ffff;
    margin-bottom: 3vw;
}



/* area2----------------------------------------------------------------------------------- */

.area2 {
    display: flex;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    gap: 8vw;
    margin-top: 5vw;
}

.area2 .l {
    width: 50%;
}

.area2 .midasi_box {
    align-items: start;
}

.area2 .text {
    margin-bottom: 3vw;
}



/* area3----------------------------------------------------------------------------------- */

.area3 {
    position: relative;
}

.area3 .container {
    position: absolute;
    top: 6vw;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
}



.scroll-wrapper {
  overflow: hidden;
  width: 100%;
}

.scroll-track {
  display: flex;
  width: fit-content;
  animation: scroll-left 20s linear infinite;
}

.scroll-track img {
  height: 15vw; /* 適宜変更可 */
  margin-right: 20px;
}

/* アニメーション */
@keyframes scroll-left {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}









/* area4----------------------------------------------------------------------------------- */

.area4 {
    width: 70%;
    margin: 0 auto;
    padding: 5vw 0;
}


.area4 .container {
    display: flex;
    gap: 3vw;
}

.area4 .box {
    background-color: #ffffff50;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vw;
    gap: 3vw;
}

.area4 .box .img {
    width: 15vw;
    border-radius: 100vw;
}

.area4 .box .text {
    font-family: "Hina Mincho", serif;
}



/* area5----------------------------------------------------------------------------------- */

.area5 {
    margin: 0 auto;
    width: 70%;
    padding: 5vw 0;
}



.area5 .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4列に並べる */
  gap: 1.5vw; /* 間隔（調整自由） */
  margin: 0 auto; /* 中央寄せ */
}

.area5 .container a img {
  width: 100%; /* 各列内でぴったりフィット */
  height: auto;
  display: block;
}


/* area6----------------------------------------------------------------------------------- */

.area6{
    position: relative;
}

.area6 .inner {
    width: 70%;
    position: absolute;
    top: 10vw;
    left: 50%;
    transform: translate(-50%);
    
}

.area6 .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 4列に並べる */
    gap: 3.5vw 2vw; /* 間隔（調整自由） */
    margin: 0 auto; /* 中央寄せ */
}

.area6 .inner .box {
    width: 100%; /* 各列内でぴったりフィット */
    height: auto;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
}



/* area7----------------------------------------------------------------------------------- */

.area7 {
    width: 70%;
    margin: 0 auto;
    padding: 5vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.area7 li {
    list-style: none;
    width: 100%;
    margin-bottom: 5vw;
}

.area7 ul {
    display: flex;
    gap: 3vw;
    border-bottom: solid #AEAEAE 0.12vw;
    padding: 2vw 2vw 1.2vw 2vw;
    font-size: 1.2vw;
}

.area7 ul .day{
    width: 20%;
}


/* area8----------------------------------------------------------------------------------- */

.area8 {
    width: 70%;
    margin: 0 auto;
    display: flex;
    gap: 2vw;
    padding: 5vw 0;
}



.area8 .l {
    width: 50%;
}

.area8 .l .box {
    background-color: #ffffff50;
    border-radius: 1vw;
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.area8 .l .box a {
    width: 7vw;
}

.area8 .r {
    width: 50%;
}

.area8 .r .box {
    background-color: #ffffff50;
    border-radius: 1vw;
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.area8 .r img {
    width: 7vw;
}

.area8 .komidasi {
    font-weight: 700;
    font-size: 1.5vw;
    margin-bottom: 1vw;
}


/* area9----------------------------------------------------------------------------------- */

.area9 {
    width: 70%;
    margin: 0 auto;
    padding: 5vw 0;
}

.area9 .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    background-color: #ffffff50;
    border-radius: 1vw;
    padding: 3vw;
    height: 30vw;
}

.area9 iframe {
    width: 40%;
    height: 20vw;
    border-radius: 1vw;
}


/* area10----------------------------------------------------------------------------------- */

.area10 {
    background-image: url(../images/20250715_1321.png);
    background-size: cover;
    margin: 5vw 0;
    padding: 5vw 0;
}

.area10 .inner{
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 8vw;
}

.area10 .l {
    width: 50%;
}

.area10 .r {
    width: 50%;
}

.area10 p {
    color: #ffff;
}

.area10 .r a {
    margin-top: 3vw;
}


/* area11----------------------------------------------------------------------------------- */

.area11 {
    width: 70%;
    margin: 0 auto;
    padding: 5vw 0;
}


/* CTA----------------------------------------------------------------------------------- */



/* About Us----------------------------------------------------------------------------------- */


/* Course----------------------------------------------------------------------------------- */

/* Introduction----------------------------------------------------------------------------------- */



/* Achievements----------------------------------------------------------------------------------- */



/* voices----------------------------------------------------------------------------------- */


/* tour----------------------------------------------------------------------------------- */

/* FAQ----------------------------------------------------------------------------------- */

.faq {
    padding: 50px 0;
    width: 1240px;
    background-color: #F3F3F3;
    border-radius: 20px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.faq .box {
    width: 100%;
}

.faq p {
    line-height: 1.65;
}

/* リセットCSS */
* { margin: 0; padding: 0; box-sizing: border-box; }

/* 外枠 */
article {
  margin: 20px auto;
  padding: 20px;
  width: 300px;
  background-color: whitesmoke;
}

/* アコーディオン　見出し部分 */
details > summary {
  cursor: pointer;
  padding: 20px 20px;
  background-color: #A8C3D4;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

/* アコーディオン　見出し部分　オープン時 */
details[open] > summary {
  background-color: #A8C3D4;
  border-bottom: none;
  border-radius: 20px 20px 0 0;
}

/* アコーディオン　内容部分 */
details > div {
  padding: 20px;
  background-color: white;
}

/* アコーディオン　内容部分　オープン時 */
details[open] > div {
  border-top-style: none;
  border-radius: 0 0 20px 20px;
  background-color: #ffff;
  display: flex;
  align-items: center;
}

/* アコーディオン　見出し部分　プラス・マイナスのマーク */
details {
  position: relative;
}
details > summary::after {
  position: absolute;
  content: '＋';
  top: 44px;
  right: 30px;
}
details[open] > summary::after {
  content: '−';
  top: 44px;
  right: 30px;
}

/* アコーディオン　Safariの▲マークを消す */
details > summary::-webkit-details-marker {
  display: none;
}

/* アコーディオン間のスペース */
details + details {
  margin-top: 20px;
  width: 100%;
}


.w-b{
     font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 0.1em;
    margin-right: 20px;
    color: #ffff;
}


/* contact------------------------------- */

#contact {
    margin-bottom: 80px;
}

.contact-form {
  width: 600px;
  margin: auto;
}

.contact-form .h {
    background-color: #013467;
    border-radius: 5px;
    color: #ffff;
    padding: 3px;
    margin-left: 10px;
    font-size: 12px;
}

.contact-form label,
.contact-form legend {
  display: block;
  margin: 25px 0 5px 0;
  display: flex;
  align-items: center;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form input[type="date"],
.contact-form textarea {
  width: 100%;
  padding: 0.5rem;
  background-color: #F3F3F3;
  border-radius: 3px;
  font-size: 1rem;
}

.contact-form fieldset {
  border: none;
  padding: 0;
  margin: 25px 0 10px 0 ;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contact-form fieldset label {
    margin: 0px;
    font-size: 14px;
    color: #787878;
}

.contact-form label input[type="checkbox"] {
  margin-right: 0.5rem;
}

.contact-form .privacy-policy {
  margin-top: 1.5rem;
}

.contact-form button {
  background-color: #013467;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 100px;
  font-size: 1rem;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 1.5rem;
}

.contact-form button:hover {
  background-color: #0056b3;
}





/* footer------------------------------- */

.page_footer {
    background-image: url(../images/20250529_1303.png);
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    margin: 50px;
    border-radius: 30px;
    height: 240px;
    padding: 30px;

}

.page_footer img {
    width: 50%;
}

.page_footer .text {
    color: #ffff;
}

.page_footer .l {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page_footer .r {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;
}

.page_footer .r p {
    font-size: 12px;
    color: #ffff;
}
.page_footer .r a {
    font-size: 12px;
    color: #ffff;
}


/*モバイル版
--------------------------------------------------------------------------モバイル版*/
@media (max-width: 600px) {


    .inner {
        width: 90%;
        display: flex;
        flex-direction: column;
    }


    .pc {
        display: none;
    }

    .sp {
        display: block !important;
    }

    p {
        font-size: 3.8vw;
    }

    .text {
        font-size: 3.8vw;
    }

    .midasi {
        font-size: 7vw;
    }

    .midasi_box {
        margin-bottom: 7vw;
    }

    .roma {
        font-size: 3.5vw;
    }

    .komidasi {
        font-size: 25px;
    }
    

    .top_ga {
        margin: 10px 20px 20px 20px ;
    }



    .title {
        font-family: "Barlow Condensed", sans-serif;
        font-size: 75px;
        font-weight: 600;
        color: #7490BE;
        text-align: center;
        line-height: 0.8em;
        margin-bottom: 30px;
    }

    .kotitle {
        font-family: "Noto Sans JP", sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: #3E3E3E;
        margin-bottom: 50px;
        text-align: center;
    }

    /* ヘッダー------------------------------- */


    .header .logo {
        width: 27vw;
    }

    .header .sp-nav-inner a {
        font-size: 4.2vw;
        padding-bottom: 3vw;
        border-bottom: solid #e0e0e0 0.5vw;
    }

    .icon_box {
        position: static;
        padding: 0 6vw;
        gap: 4.2vw;
    }

    .icon_box a {
        width: 5.6vw;
    }
    
    /* 基本リセット */
    .header.sp {
        position: relative;
        transition: all 0.3s ease;
        width: 100%;
        z-index: 100;
        height: 15vw;
    }

    .header.sp.fixed {
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .header-inner {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 4vw ;
    }

    /* ハンバーガーアイコン */
    .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 7vw;
    height: 5vw;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 110;
    }

    .hamburger span {
    height: 0.5vw;
    width: 100%;
    background: #000;
    display: block;
    border-radius: 2px;
    }

    /* スライドメニュー */
    .sp-nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    max-width: 300px;
    height: 100vh;
    background: white;
    box-shadow: -4px 0 10px rgba(0,0,0,0.1);
    transition: right 0.3s ease;
    z-index: 105;
    }

    .sp-nav-inner {
    display: flex;
    flex-direction: column;
    padding: 15vw 6vw;
    gap: 4.5vw;
    }

    .sp-nav.open {
    right: 0;
    }

    /* 背景マスク */
    .overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 100;
    }

    .overlay.active {
    opacity: 1;
    visibility: visible;
    }



    /* ボタン系-------------------------------------------------------------- */


    .yazirusi {
        width: 3vw;
    }

    .b_more {
        border-bottom: solid #262626 0.3vw;
    }

    .w_more {
        border-bottom: solid #ffffff 0.3vw;
    }




    


    /* area1-------------------------------------------------------------- */

    .area1 {
        background-image: url(../images/20250715_1341.png);
        padding: 15vw 5vw;
    }

    .area1 .midasi {
        margin-bottom: 12vw;
    }

    .area1 .text {
        margin-bottom: 12vw;
    }



    /* area2-------------------------------------------------------------- */

    .area2 {
        flex-direction: column-reverse;
        width: 80%;
        margin-top: 12vw;
        gap: 12vw;
        margin-bottom: 3vw;
    }

    .area2 .midasi_box {
        align-items: center;
        margin-bottom: 7vw;
    }

    .area2 .l {
        width: 100%;
    }

    .area2 .text {
        text-align: center;
        margin-bottom: 7vw;
    }

    .area2 .r {
        display: flex;
        flex-direction: column;
        align-items: center;
    }



    /* area3-------------------------------------------------------------- */

    .area3 .container {
        top: 28vw;
    }

    .area3 .midasi_box {
        margin-bottom: 7vw;
    }

    .scroll-track img {
        height: 45vw;
    }


    /* area4-------------------------------------------------------------- */

    .area4 {
        width: 80%;
    }

    .area4 .midasi_box {
        margin-bottom: 7vw;
    }

    .area4 .container {
        flex-direction: column;
    }

    .area4 .box {
        padding: 10vw;
        gap: 7vw;
    }

    .area4 .box .img {
        width: 35vw;
    }

    /* area5-------------------------------------------------------------- */

    .area5 {
        width: 80%;
        padding: 8vw 0;
    }

    .area5 .container {
        grid-template-columns: repeat(2, 1fr);
    }



    /* area6-------------------------------------------------------------- */

    .area6 .inner {
        width: 80%;
        top: 20vw;
    }

    .area6 .container {
        grid-template-columns: repeat(2, 1fr);
        gap: 6.5vw 2vw;
    }


    /* area7-------------------------------------------------------------- */

    .area7 {
        width: 80%;
    }

    .area7 ul {
        padding: 2vw 2vw 2.2vw 2vw;
    }


    .area7 ul .day {
        width: 26%;
    }

    .area7 li {
        margin-bottom: 12vw;
    }


    /* area8-------------------------------------------------------------- */



    .area8 {
        flex-direction: column;
        width: 80%;
        padding: 12vw 0;
        gap: 15vw;
    }

    .area8 .l {
        width: 100%;
    }

    .area8 .l .box {
        height: 28vw;
        gap: 4vw;
    }

    .area8 .l .box a {
        width: 17vw;
    }

    .area8 .r {
        width: 100%;
    }

    .area8 .r .box {
        height: 42vw;
        gap: 4vw;
    }

    .area8 .r img {
        width: 17vw;
    }

    .area8 .komidasi {
        font-size: 4.5vw;
    }


    /* area9-------------------------------------------------------------- */ 
    
    .area9 {
        width: 80%;
    }

    .area9 .container {
        flex-direction: column;
        height: 145vw;
        padding: 7vw;
        gap: 7vw;
    }

    .area9 iframe {
        width: 100%;
        height: 50vw;
    }



    /* area8-------------------------------------------------------------- */

    .area10 {
        padding: 12vw 0;
    }

    .area10 .inner {
        width: 80%;
        flex-direction: column;
    }

    .area10 .r {
        width: 100%;
        display: flex;
        flex-direction: column;align-items: center;
    }



}
